#grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-row-gap: 5vh;
    grid-column-gap: 5vw;
}

.header {
    grid-column: 1 / span 5;
    grid-row: 1 / span 1;
    text-align: center;
    margin: 2vh 0;
}

.header>h1 {
    font-size: 3vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.order_list {
    grid-column: 1 / span 5;
    grid-row: 2 / auto;
    text-align: center;
}

.order_list>table {
    font-size: 1.3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    font-size: 2.3vh;
    /* table-layout: fixed; */
    border: 1px solid black;
    border-radius: 20px;
    background-color: darkcyan;
    box-shadow: 5px 5px 8px 2px #888888;
}

td {
    /* outline: 1px solid red; */
}

.strong {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}

.info_grid {
    grid-column: 1 / span 5;
    /* grid-row: 3 / auto; */
    margin-left: auto;
    margin-right: auto;
    width: 70%;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;

    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    /* background-color: grey; */
    box-shadow: 5px 5px 8px 2px #888888;
    overflow: hidden;

    font-size: 1vw;
    background-color: rgb(221, 169, 111);
}

.info_grid label {
    font-size: 1.5vh;
}

.info_grid h2 {
    color: black;
}

.contact_information {
    grid-column: 1 / span 1;
    width: 30vw;
    /* height: 80vh; */
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.contact_div {
    text-align: left;
    display: inline-block;
    margin-left: auto;
    /* margin-right: auto; */
    width: 80%;
}

.payment_info {
    width: 30vw;
    /* height: 80vh; */
    grid-column: 2 / span 1;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#payment_cardMonth,
#payment_cardYear {
    width: 37.8%;
}

form input,
form label,
form textarea {}

.contact_div {
    background-color: white;
}

#shipping_address textarea,
#billing_address textarea {
    width: 34.5rem;
    height: 35px;
    resize: none;
    overflow: hidden;
}

.checkbox_contact {
    position: relative;
    width: 100%;
}

.checkbox_contact label {
    display: inline-block;
    width: 100%;
    padding: 0;
    font-size: 1.7vh;
}

.checkbox_contact input {
    display: inline-block;
    /* position: absolute; */
    top: 0;
    right: 2vw;
    text-align: left;
    height: 1vw;
    /* width: 10px; */
}

#billing_address {
    transition: all 0.3s;
    visibility: hidden;
    display: none;
}

#payment_name {
    transition: all 0.3s;
    visibility: hidden;
    display: none;
}

.bottom_left_button {
    /* position: absolute; */
    float: left;
    margin-left: 2vw;
    padding-bottom: 4vh;
}

.bottom_right_button {
    float: right;
    margin-right: 2vw;
    padding-bottom: 4vh;
}