/* Animations */
@keyframes scrollingText {
    from {
        /* left: 150vh; */
        transform: translateX(55%);
    }

    to {
        /* left: -80vh; */
        transform: translateX(-100%);
    }
}

/* Styles */
#my {
    zoom: 80%;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    margin: 0;
    padding: 20px;
    /* margin: 0 1rem; */
}

a {
    color: inherit;
    text-decoration: none;
}

nav>ul {
    /* outline: 1px solid blue; */
    padding: 0 0;
    margin: 0 auto;
}

li {
    /* outline: 1px solid blue; */
    padding: 1.5rem 0;
    /* padding: 1.5rem 1rem; */
    transition-duration: 0.1s;
    list-style-type: none;
    text-align: center;
    word-wrap: break-word;
    font-family: monospace;
    font-size: larger;
    font-weight: bold;
    width: 1px;
}

/* nav>ul>li>a {
    border: 1px dashed green;
    border-radius: 5px;
} */

#grid {
    display: grid;
    grid-template-columns: auto auto auto auto;
    /* grid-row-gap: 20px; */
    grid-column-gap: 30px;
}

.item {
    /* outline: 2px solid red; */
}

/* HOME PAGE */

.item1 {
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 0;
    grid-row-end: 1;
    margin: 0;
    padding: 0 1rem;
    background-color: black;
    border-bottom: 2px solid black;
    height: 25px;
    overflow: hidden;
}

.item1>p {
    margin: 0;
    position: relative;
    font-family: monarcha;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    color: greenyellow;
    white-space: nowrap;
    transform: translateX(55%);

    animation-name: scrollingText;
    animation-timing-function: linear;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

.item4 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 6;
    height: 100vh;
    background-image: url("../media/bg-img.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}


.orderButton {
    position: absolute;
    top: 8vh;
    right: 40px;
}

.orderButton>ul {
    border: 3px dashed greenyellow;
    border-radius: 10px;
    padding: 0;
}

.orderButton>ul>li {
    padding: 1rem;
    padding-right: 1.55rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bolder;
    text-shadow: 1px 1px 1px greenyellow;
    color: greenyellow;
}

.orderButton>ul>li:hover {
    font-style: italic;
    font-weight: bolder;
    color: red;
    text-shadow: 1px 1px red;
}

.orderButton>ul:hover {
    border: 3px dashed red;
    color: red;
}

.arrowdown {
    position: absolute;
    top: 90vh;
    right: 20px;
}

/* Navigation and NAVBAR */

.navigation {
    /* border-right: 2px solid black; */
    padding: 0 4rem;
    position: fixed;
    font-size: 1.1rem;
    color: #00AE42;
    text-shadow: 0.5px 0.5px green;
}

.navigation>nav>ul>li:hover {
    font-style: italic;
    font-weight: bolder;
    color: red;
    text-shadow: 1px 1px green;
    font-size: 1.8rem;
}

.leftNav {
    top: 5rem;
    left: 0;
}

.rightNav {
    /* padding-right: 1rem; */
    top: 5rem;
    right: 0;
}

/* Nav buttons */
/*  */


.item2,
.item3 {
    display: inline-block;
    /* grid-row-start: 2; */
    /* grid-row-end: 6; */
    /* width: 3rem; */
}

/* Content Chunk */

.item5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 4rem;
}

.contentText {
    text-align: justify;
    line-height: 1.8;
    font-weight: 400;
    font-size: 20px;
    padding: 0 8rem;
    /* color: green; */
}

.contentImage {
    /* border-radius: 73px; */
    margin-top: 4rem;
    width: 78vw;
    box-shadow: 5px 5px 8px 2px #888888;
    /* border: 3px dashed green; */
    /* border-radius: 25px */
}

.content {
    flex-basis: 80%;
    flex-grow: 0;
    flex-shrink: 0;
    padding: 0 1rem;
}

.item6 {
    margin-top: 5rem;
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0rem 8rem;
}

#recommendations {
    margin-bottom: 5rem;
    color: green;
    font-size: 250%;
    font-weight: 400;
}

.item7 {
    margin-top: 5rem;
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0rem 8rem;
}

/* .our-choice-table {
    border: 3px solid green;
    border-radius: 25px;
} */

.choice-img {
    border-radius: 30px;
    box-shadow: 5px 5px 8px 2px #888888;
}

.choice-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
}

.choice-caption {
    margin-top: 10px;
}

.choice-desc,
.choice-title {
    /* border: 3px dashed green; */
    /* border-radius: 25px */
    font-size: 200%;
    font-weight: 400;
}

.item8 {
    margin-top: 5rem;
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0rem 0rem;
}

#outlet {
    margin-bottom: 2rem;
    color: darkcyan;
    font-size: 250%;
}

.our-outlet-table {
    text-align: center;
    font-size: 20px;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
    border: 3px solid darkcyan;
    border-radius: 25px
}

.outlet-img-top {
    width: 100%;
    border-radius: 25px 0 0 0;
    padding: 0;
}

.outlet-img-bot {
    width: 100%;
    border-radius: 0 0 0 25px;
    padding: 0;
}

.our-outlet-top-td {
    padding: 20px;
    border-left: 0.2px dashed darkcyan;
    border-bottom: 0.2px dashed darkcyan;
}

.our-outlet-img-td {
    border-bottom: 0.2px dashed darkcyan;
    padding: 0;
}

.our-outlet-bot-td {
    padding: 20px;
    border-left: 0.2px dashed rgb(129, 36, 36);
}

.item9 {
    margin-top: 5rem;
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0rem 5rem;
}

#contact_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 5rem;
    grid-row-gap: 2rem;
}

.contact-header {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 8;
    text-align: center;
}

.contact-details {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 1.5rem;
}

.contact-region {
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 8;
    text-align: center;
    font-size: 20px;
}

.contact-details>table {
    float: right;
}

.margin_0 {
    margin: 0;
}

.margin_bot_5 {
    margin-bottom: 5px;
    font-family: Poppins, sans-serif;
    font-size: 1rem;
}

.padding_bot_10 {
    padding-bottom: 20px;
}

#contact {
    color: white;
    font-size: 2.5rem;
}

.contact_div {
    text-align: left;
    display: inline-block;

    background-color: #FCF6EE;
    border-radius: .5rem;
    padding: .75rem 1rem .25rem;
    margin-right: 1.5rem;
}

#name {
    display: inline-block;
    vertical-align: text-top;
    width: 250px;
}

.contact-us {
    text-align: center;
    background-color: darkcyan;
    padding-bottom: 3rem;
    padding-top: 2rem;
}

br {
    display: block;
    content: " ";
    margin-bottom: 20px;
    /* line-height: 150%; */
}

form input {
    /* display: inline;
    vertical-align: text-top;
    width: 250px; */

    width: 14.5rem;
    /* width: 100%; */
    background-color: inherit;
    color: black;
    font-family: inherit;
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

form textarea {
    width: 34.5rem;
    height: 100px;

    background-color: inherit;
    color: black;
    font-family: inherit;
    font-size: var(--normal-font-size);
    border: none;
    outline: none;
    padding: .25rem .5rem .5rem 0;
}

form label {
    clear: left;
    display: inline-block;
    /* width: 150px; */
    text-align: center;
    padding-right: 2em;
    vertical-align: text-top;
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.button {
    /* display: none; */
    /* background-color: #FCF6EE; */
    background-color: darkcyan;
    color: #FCF6EE;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    border: 2px solid #FCF6EE;
    border-radius: 5px;
    vertical-align: none;
    padding: 5px;
    width: 80px;
}

.button:hover {
    transition: 0.5s;
    background-color: white;
    color: black;
}

.button:active {
    background-color: darkcyan;
}