.top-region{
    background-color: #E4D8DC;
    padding: none;
    margin: none;
    position: relative;
    text-align: center;
}
h1{
    color:black;
    text-align: center;
    background-color: #E4D8DC;
    margin: 0;
    padding: 20
}
/* nav{
    float:top;
    font-size: 20px;
} */

.nav-region{
    background-color: #E4D8DC  ;
    width: 1980px;
    text-align: center;
    padding: 20px;
    order: 5;
    text-decoration: none;
}

.bg-img{
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0));
    height: calc(100vh - 50px);
    background-position: center;
    position: relative;
    background-size: cover;
    z-index: 2;
}

body{
    margin: 0;
}

.mid-region{
    text-align: center;
    background-color: grey;
}
.nav-text{
    margin: 60px;
    text-decoration: none;
    font-size: 20px;
    color: black;
}