@charset "utf-8";

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 1.1em;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  letter-spacing: 0.09em;
  line-height: 2;
  font-family: "Noto Sans JP", "Hiragino Kaku Gothic ProN", sans-serif;
  font-weight: 700;
}

body,
html {
  height: 100%;
}

ul[class],
ol[class],
ol,
ul {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

img:not([alt]) {
  filter: blur(10px);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* global */

p {
  text-align: justify;
}

section {
  z-index: 2;
}

.monarcha {
  font-family: monarcha, serif;
  font-style: normal;
  font-weight: 600;
}

.overpass {
  font-family: "Overpass", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

.gray {
  color: #898a8d;
}

.green {
  color: #00ae42;
}

.page-width {
  padding: 0 4vw;
}

.pc-only {
  display: block;
}

.sp-only {
  display: none;
}

@media only screen and (max-width: 750px) {
  .pc-only {
    display: none;
  }

  .sp-only {
    display: block;
  }
}

/* top moving bar */
.moving-bar {
  background-color: #00383f;
  height: 50px;
  width: 100%;
  z-index: 2;
}

.moving-copy {
  color: #00ae42;
  font-size: 25px;
  line-height: 2;
  width: 100%;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-family: monarcha, "monarcha", serif;
  font-weight: 600;
  font-style: normal;
}

.moving-copy span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 90s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}

@media only screen and (max-width: 750px) {
  .moving-bar {
    height: 40px;
    z-index: 2;
    position: relative;
  }

  .moving-copy {
    font-size: 20px;
  }
}

/* navbar */
.top-order span,
.shop-title {
  font-size: 1.15em;
  text-decoration: none;
  -webkit-writing-mode: vertical-rl;
  -moz-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  color: #00ae42;
}

.top-order span {
  letter-spacing: 3.5px;
}

.left-nav li a {
  letter-spacing: 0.2em;
  color: #00ae42;
}

.left-nav li span,
.right-nav li span {
  display: inline-block;
}

.right-nav li span {
  text-align: center;
}

.left-nav li:hover span,
.right-nav li:hover span:not(.o-span) {
  cursor: pointer;
  transform: skewX(-20deg);
  transition: 0.2s;
}

.nav-menu {
  -webkit-text-orientation: upright;
  text-orientation: upright;
  letter-spacing: 0.3em;
}

.nav-menu a {
  text-decoration: none;
  color: #00ae42;
}

.pointer img {
  width: 1em;
  height: auto;
  margin-right: 0.4em;
}

.pointer:hover img {
  transform: translateY(-10px);
  transition: 0.5s;
}

.sns {
  display: inline-block;
  margin-top: 1em;
}

.nav-menu img {
  width: 0.7em;
  margin-right: 0.6em;
}

.nav-toggle {
  background-color: transparent;
  display: none;
}

.order button,
.top-order button {
  width: 45px;
  height: auto;
}

.order button {
  height: 92px;
}

@media only screen and (min-width: 751px) {
  .left-nav li a,
  .left-nav li,
  .right-nav li,
  .order span {
    font-size: 1.15em;
    text-decoration: none;
    -webkit-writing-mode: vertical-rl;
    -moz-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    -ms-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    color: #00ae42;
  }

  .order span {
    letter-spacing: 3.5px;
  }

  .left-nav,
  .right-nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 43px;
    z-index: 2;
  }

  .left-nav {
    height: 70vh;
    top: 20vh;
    left: 4vw;
    justify-content: space-around;
  }

  .right-nav {
    width: 47px;
    height: 80vh;
    top: 10vh;
    right: 4vw;
    justify-content: space-between;
  }

  _::-webkit-full-page-media,
  _:future,
  :root .safari-e {
    transform: translateX(0.07em);
  }
}

@media only screen and (max-width: 750px) {
  .topnav .left-nav li,
  .topnav .right-nav {
    display: none;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-size: 1.2em;
  }

  .topnav.active {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #f4f4f4;
    color: #00ae42;
    z-index: 3;
    padding: 8vh 0 6vh;
  }

  .topnav.active .left-nav li:not(:last-child) {
    display: flex;
    flex-direction: column;
  }

  .topnav.active .right-nav {
    display: flex;
    flex-direction: column-reverse;
  }

  .topnav.active .right-nav li.order {
    display: none;
  }

  .sns {
    text-align: center;
    margin: 0.8em 0.8em 0 0;
    vertical-align: middle;
  }

  .nav-toggle {
    display: block;
    top: 7vw;
    left: 5vw;
    position: fixed;
    z-index: 1;
  }

  .bar1,
  .bar2,
  .bar3 {
    width: 2em;
    height: 0.28em;
    margin-bottom: 0.4em;
    background-color: #00ae42;
    z-index: 1;
  }

  .active .bar2 {
    display: none;
  }

  .active .bar1 {
    -webkit-transform: rotate(45deg) translate(0.15rem, 0.15rem);
    -moz-transform: rotate(45deg) translate(0.15rem, 0.15rem);
    -o-transform: rotate(45deg) translate(0.15rem, 0.15rem);
    transform: rotate(45deg) translate(0.15rem, 0.15rem);
    width: 2rem;
    height: 0.2rem;
    margin: 0;
  }

  .active .bar3 {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 2rem;
    height: 0.2rem;
    margin: 0;
  }
}

/* header */

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    url(../images/hero-pc.jpg);
  height: calc(100vh - 50px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: 2;
}

.top-flex {
  display: flex;
  justify-content: space-between;
}

.top-logo {
  padding-top: 4vw;
}

.top-logo img {
  width: 6em;
  height: auto;
}

.top-order {
  position: absolute;
  top: 3vw;
  right: 4vw;
}

.top-order,
.order {
  border: 2px dotted #00ae42;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0;
  width: 45px;
  font-size: 0.9em;
}

.order span {
  font-size: 0.9em;
}

.top-order:hover,
.order:hover {
  color: #dc3d18;
  border: 2px dotted #dc3d18;
}

.top-order:hover .o-span,
.order:hover .o-span {
  color: #dc3d18;
}

.top-order {
  padding: 0.8em 0.2em 0 0.15em;
}

.order {
  padding: 0.7em 0.2em 0.1em 0.25em;
}

.kana-logo {
  position: absolute;
  bottom: 5vw;
  left: 4vw;
  width: 2.5em;
}

.top-arrow {
  position: absolute;
  bottom: 5vw;
  right: 4vw;
  width: 1.9em;
}

.moving-face {
  display: flex;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.moving-face img {
  padding: 20px;
  width: 400px;
  height: auto;
  animation: rotate-anime 5s linear infinite;
  align-self: center;
}

@keyframes rotate-anime {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.modal {
  display: none;
  z-index: 1001;
  padding-top: 20vh;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  overflow: auto;
}

.modal-content {
  display: flex;
  border: 3px solid #00ae42;
  border-radius: 15px;
  background-color: #f4f4f4;
  width: 900px;
  margin: 0 auto;
  z-index: 1001;
  position: fixed;
  top: 20vh;
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0.5em;
  font-size: 30px;
  font-weight: lighter;
  cursor: pointer;
}

.order-details {
  width: 55%;
  padding: 3% 5% 5%;
  border-right: 3px dotted #00ae42;
}

.waiting-time {
  width: 45%;
  padding: 3% 5% 5%;
}

.order-title {
  display: flex;
  align-items: center;
  margin: 2em 0;
}

.order-title img {
  width: 3.5em;
  height: auto;
}

.order-title img.timer {
  width: 2.8em;
}

.order-title h3 {
  font-size: 1.3em;
  line-height: 1.3;
  margin-left: 1em;
}

.order-title h3 span,
.time-note {
  font-size: 0.8em;
}

.time-note {
  margin-top: 2vw;
}

.phone-n {
  font-size: 1.3em;
}

.order-flex {
  display: flex;
  margin-bottom: 1em;
  vertical-align: middle;
}

.order-flex img {
  margin-left: 1em;
  height: 2.2em;
}

.modal-arrow img {
  width: 40%;
  height: auto;
}

.modal-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.modal-arrow span {
  display: inline-block;
  font-size: 1.8em;
}

.modal-arrow p {
  width: 28%;
  margin-right: 5%;
}

.modal-arrow p:nth-of-type(2n) {
  text-align: right;
  margin-right: 0;
}

@media only screen and (max-width: 940px) {
  .modal-content {
    width: 600px;
    top: 10vh;
  }

  .modal-content {
    flex-direction: column;
    overflow: scroll;
  }

  .order-details {
    width: 100%;
    padding: 2% 5%;
    border-right: none;
    border-bottom: 3px dotted #00ae42;
  }

  .order-flex img {
    margin-left: 1em;
    height: 2em;
  }

  .waiting-time {
    width: 60%;
    padding: 2% 5% 5%;
  }

  .order-title {
    display: flex;
    align-items: center;
    margin: 1.2em 0;
  }
}

@media only screen and (max-width: 750px) {
  .hero-image {
    height: calc(100vh - 40px);
  }

  .top-flex {
    justify-content: flex-end;
  }

  .top-logo {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 autod;
  }

  .top-logo img {
    position: absolute;
    top: 20vh;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 150px;
    height: auto;
  }

  .kana-logo {
    width: 1.8em;
    bottom: 10vw;
  }

  .top-arrow {
    width: 1.3em;
    bottom: 10vw;
  }

  .moving-face {
    flex-direction: column;
  }

  .moving-face img {
    width: 200px;
    padding: 5px 20px;
  }

  .order-flex img {
    margin-left: 0.5em;
    height: 1.5em;
    margin-top: 0.3em;
  }

  button .top-order,
  button .order {
    margin: 0.6em 0 0;
    text-align: center;
  }

  .modal-close {
    font-size: 2.8em;
    position: fixed;
    top: auto;
    bottom: 0;
    right: 0;
  }

  #topOrder {
    position: fixed;
    top: 10vh;
    right: 4vw;
  }
}

@media only screen and (max-width: 607px) {
  .modal-content {
    width: 100%;
    height: 100vh;
    top: 0;
    border: none;
    border-radius: 0;
  }

  .waiting-time {
    width: 85%;
    padding: 3% 5% 5%;
  }

  .order-flex img {
    flex-direction: column;
  }
}

@media only screen and (max-width: 375px) {
  .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
      url(../images/hero-sp.jpg);
    height: calc(100vh - 40px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 2;
  }

  .waiting-time {
    width: 100%;
    padding: 3% 5% 5%;
  }
}

/* about */

#About {
  color: #898a8d;
  margin: 0 10vw;
  padding: 2vw 0 10vw;
}

.intro {
  margin: 7vw 5vw;
  font-size: 1.2em;
}

.intro-main {
  margin: 3vw 4vw;
}

#introSlider.swiper-container {
  margin: 4vw 8vw;
  width: 85%;
  height: auto;
}

.intro-flex,
#introSlider .swiper-slide {
  display: flex;
}

#introSlider .swiper-slide {
  margin: 5vw 0;
  align-items: center;
}

#introSlider .swiper-slide:nth-child(2) {
  flex-direction: row-reverse;
}

.intro-title {
  flex: 1;
  font-size: 1.2em;
  padding: 2vw 0;
}

.intro-item {
  flex: 2;
  font-size: 0.9em;
  padding: 2vw 0;
}

.slick-flex-item-p {
  flex: 1.5;
  position: relative;
}

.slick-flex-item-p img {
  display: inline-block;
}

.slick-flex-item-p img.slick-pic {
  width: 50%;
  height: auto;
}

.slick-flex-item-p img.slick-pic:first-child {
  width: 55%;
  height: auto;
}

.slick-flex-item-t {
  flex: 1;
}

.slick-flex-item-t h3 {
  margin: 2vw 0;
  text-align: center;
}

.slick-flex-item-t .slick-p {
  margin: 0 2vw;
  text-align: center;
}

.slick-arrow1,
.slick-arrow2,
.slick-arrow3 {
  margin: 3vw;
  width: 20%;
}

.slick-arrow2 {
  transform: rotateY(180deg);
}

.slick-arrow3 {
  transform: rotateX(180deg);
  position: absolute;
  top: 1vw;
}

.int-box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  vertical-align: middle;
  color: #fff;
  background: #00ae42;
  border: solid 1px #00ae42;
  border-radius: 10px;
  padding: 0.05em 0.35em 0.07em 0.45em;
}

.int-box p {
  line-height: 1.5em;
}

.big-copy {
  margin: 3vw 0;
  display: flex;
  align-items: center;
}

.big-copy p {
  font-size: 3.5em;
  letter-spacing: 0.14em;
  margin-block-start: 0;
  margin-block-end: 0;
}

.intro-arrow {
  margin: 0 5em;
}

.intro-arrow img {
  transform: rotateZ(270deg);
  width: 2em;
}

.swiper-button-prev,
.swiper-button-next {
  color: #e5e5e5;
}

.swiper-button-prev {
  left: 0;
}

.swiper-button-next {
  right: 0;
}

:root {
  --swiper-navigation-color: #e5e5e5;
  --swiper-pagination-color: #00ae42;
}

#introSlider .swiper-button-prev::after {
  content: "‹";
}
#introSlider .swiper-button-next::after {
  content: "›";
}

#introSlider .swiper-button-prev:hover:after,
#introSlider .swiper-button-next:hover:after {
  color: #e5e5e5;
}

#introSlider .swiper-pagination-bullet {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  vertical-align: middle;
  border-radius: 10px;
  width: 28px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  font-size: 18px;
  color: #cbcbcb;
  background: #e5e5e5;
  padding: 0 0.35em 0.07em 0.45em;
  margin: 0 0.25em;
  opacity: 1;
}

#introSlider .swiper-pagination-bullet-active {
  color: #fff;
  background: #00ae42;
}

@media only screen and (max-width: 1190px) {
  .intro {
    margin: 12vw 2vw;
    font-size: 1.1em;
  }

  .intro-flex,
  .big-copy {
    flex-direction: column;
  }

  .intro-title {
    margin-top: 5vw;
  }

  .big-copy {
    margin: 5vw 0;
  }

  .intro-arrow img {
    transform: rotateZ(0deg);
    width: 1.5em;
  }

  .slick-flex-item-t .slick-p {
    margin: 0;
  }

  .slick-flex-item-p img.slick-pic {
    width: 60%;
  }

  .slick-flex-item-p img.slick-pic:first-child {
    width: 62%;
    height: auto;
  }
}

@media (min-width: 750px) {
  #introSlider .swiper-wrapper {
    flex-wrap: wrap;
  }

  #introSlider .swiper-button-prev,
  #introSlider .swiper-button-next,
  #introSlider .swiper-pagination {
    display: none;
  }
}

@media only screen and (max-width: 750px) {
  .intro-main,
  #introSlider .swiper-wrapper {
    margin: 3vw 0;
  }

  #introSlider.swiper-container {
    margin: 0;
    width: 100%;
    height: auto;
  }

  #introSlider .swiper-slide {
    flex-direction: column;
    padding: 5vw;
    margin-bottom: 5vw;
  }

  #introSlider .swiper-slide:nth-child(2) {
    flex-direction: column;
  }

  img.slick-arrow1,
  img.slick-arrow2,
  img.slick-arrow3 {
    display: none;
  }

  .slick-flex-item-p,
  .slick-flex-item-t {
    flex: 1;
    text-align: center;
  }

  .slick-flex-item-t h3 {
    margin: 6vw 0 3vw;
  }

  .slick-flex-item-t .slick-p {
    margin: 0 2vw;
  }

  .slick-flex-item-p img {
    width: 100%;
    height: auto;
  }

  .int-box {
    display: none;
  }
}

/* glossary */

#Glossary {
  background-color: #00383f;
  color: #00ae42;
  padding: 5vw 10vw 10vw;
}

#Glossary h2 {
  text-align: center;
  color: #fff;
  margin: 2vw 0 3vw;
}

.g-word {
  padding: 1vw 0;
  border-top: 1px solid #898a8d;
  display: flex;
}

.g-word:last-child {
  border-bottom: 1px solid #898a8d;
}

.g-word:hover {
  color: #fff;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  cursor: pointer;
}

.g-active .g-title {
  color: #fff;
}

.g-details:hover {
  margin-left: 1vw;
  transition: 0.5s;
}

.g-title {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.g-title h3 {
  margin-right: 20px;
}

.g-title h4 {
  margin-top: 5px;
}

.g-details {
  width: 100%;
}

.g-details-p {
  color: #fff;
  width: 90%;
  display: none;
  font-size: 0.9em;
}

.g-active .g-details-p {
  display: block;
}

.g-active .g-details {
  width: 100%;
}

.word-pic {
  width: 80%;
}

.word-pic .normal-pic {
  width: 60%;
  height: auto;
  margin-left: 30%;
  margin-top: -10%;
  margin-bottom: -50%;
  overflow: visible;
  z-index: 50;
  display: none;
}

.word-pic .mini-pic {
  width: 80%;
  height: auto;
  margin-left: 10%;
  margin-top: -13%;
  margin-bottom: -30%;
  overflow: visible;
  z-index: 50;
  display: none;
}

.g-active .word-pic .normal-pic,
.g-active .word-pic .mini-pic {
  display: block;
}

@media only screen and (min-width: 750px) and (max-width: 1450px) {
  .g-active .word-pic .mini-pic {
    margin-top: -5%;
  }
}

@media only screen and (min-width: 750px) {
  .g-word:hover .word-pic .normal-pic,
  .g-word:hover .word-pic .mini-pic {
    display: block;
  }
}

@media only screen and (max-width: 750px) {
  .g-word {
    flex-direction: column;
  }

  .g-title {
    flex-direction: column;
  }

  .g-title h3 {
    font-size: 1em;
  }

  .g-title h4 {
    margin-top: 0;
  }

  .g-details {
    width: 100%;
  }

  .g-details-p {
    width: 100%;
    font-size: 0.9em;
  }

  .word-pic {
    width: 100%;
  }

  .word-pic .normal-pic,
  .word-pic .mini-pic {
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 5vw;
    margin-bottom: 5vw;
    overflow: visible;
    z-index: 50;
    display: none;
  }

  .g-active .word-pic .normal-pic,
  .g-active .word-pic .mini-pic {
    display: block;
  }
}

/* gallery */

#Gallery.swiper-container {
  width: 100vw;
  height: 100%;
  z-index: 1;
}

#Gallery .swiper-wrapper {
  z-index: 1;
}

#Gallery .swiper-pagination-fraction {
  color: #00ae42;
}

@media only screen and (min-width: 750px) {
  #Gallery .swiper-button-prev::after {
    content: "〈";
    color: #00ae42;
  }
  #Gallery .swiper-button-next::after {
    content: "〉";
    color: #00ae42;
  }

  #Gallery .swiper-button-prev,
  #Gallery .swiper-button-next {
    opacity: 0;
    transition: opacity 1s;
    color: #00ae42;
  }

  #Gallery .swiper-button-prev {
    left: 9vw;
  }

  #Gallery .swiper-button-next {
    right: 9vw;
  }

  #Gallery .swiper-button-prev.hover,
  #Gallery .swiper-button-next.hover {
    opacity: 1;
  }

  #Gallery .swiper-button-prev.swiper-button-disabled.hover,
  #Gallery .swiper-button-next.swiper-button-disabled.hover {
    opacity: 0.35;
  }
}

@media only screen and (max-width: 750px) {
  #Gallery .swiper-wrapper {
    display: flex;
    overflow: auto;
  }

  #Gallery .swiper-slide {
    width: 75%;
  }

  .gallery-item {
    width: 100%;
    height: auto;
  }

  #Gallery .swiper-button-prev,
  #Gallery .swiper-button-next,
  #Gallery .swiper-pagination {
    display: none;
  }
}

/* shop list */

#List {
  padding: 5vw 10vw 10vw;
}

#List h2 {
  text-align: center;
  color: #898a8d;
  margin: 8vw 0 3vw;
}

.shop-list {
  display: flex;
  color: #00ae42;
  text-align: center;
  flex-direction: row-reverse;
}

.shop-list:first-child {
  border-bottom: 3px dotted #00ae42;
}

.shop-all {
  border: 3px solid #00ae42;
  border-radius: 20px;
  overflow: hidden;
}

.shop-pic {
  width: 38vw;
  height: 30vw;
}
.shop-p {
  width: 40vw;
  height: 30vw;
}

.shop-p h4 {
  font-size: 1.6em;
  line-height: 1.5;
}

.shop-p h4 small {
  font-size: 0.8em;
}

.shop-p p {
  text-align: center;
  font-size: 1.1em;
}

.shop-p,
.shop-title {
  border-left: 3px dotted #00ae42;
  text-align: center;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.shop-item {
  margin: auto;
}

.shop-title {
  width: 4vw;
  height: auto;
}

.shop-title h3 {
  font-size: 1em;
  margin: auto;
}

.shop-icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  margin-top: 1.2em;
  margin-right: 0.3em;
}

.web-button {
  display: flex;
  justify-content: center;
}

.web-button img {
  height: 1.8em;
  width: auto;
  margin: 0.5em 0.5em 0;
}

@media only screen and (max-width: 1000px) {
  .shop-list {
    flex-direction: column;
  }

  .shop-title {
    order: 2;
    -webkit-writing-mode: horizontal-tb;
    -ms-writing-mode: horizontal-tb;
    writing-mode: horizontal-tb;
    padding: 2vw 0;
  }

  .shop-p {
    order: 3;
  }

  .shop-item {
    margin: 7vw 4vw 7vw 0vw;
  }

  .shop-pic {
    width: 80vw;
    max-height: none;
    height: auto;
  }

  .shop-p {
    width: 80vw;
    max-height: none;
    height: auto;
  }

  .shop-title {
    width: 80vw;
  }

  .shop-p,
  .shop-title {
    border-top: 3px dotted #00ae42;
    border-left: none;
  }
}

/* footer */
footer {
  background-color: #00ae42;
  color: #fff;
}

main {
  background-color: #fff;
}

.copyright {
  text-align: right;
  padding: 3vw 5vw;
}

.parallax-bg {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  z-index: -1;
}

_::-webkit-full-page-media,
_:future,
:root .parallax-bg {
  position: relative;
}

.footer-pc-pic,
.footer-sp-pic {
  width: 80%;
  height: auto;
  padding-top: 10vw;
  padding-bottom: 1vw;
  padding-left: 20%;
}

.footer-sp-pic {
  padding-top: 8vw;
  padding-bottom: 8vw;
  padding-left: 10%;
  display: none;
}

.white {
  display: none;
}

@media only screen and (max-width: 750px) {
  .footer-pc-pic {
    display: none;
  }

  .footer-sp-pic {
    display: block;
  }

  .footer-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .copyright {
    text-align: right;
    padding: 3vw 5vw 5vw;
  }

  .white {
    display: block;
    text-align: left;
    padding: 3vw 5vw 8vw;
  }
}
